@model HaT7FptBook.Models.Category

@{
    ViewBag.Title = "Category";
    Layout = "_Layout";
    var title = Model.Id == 0 ? "Create Category" : "Edit Category";
}

<h2>@title</h2>

<form method="post">
    <partial name="_StatusMessenger" model="@ViewData["Message"]"/>
    <input asp-for="Id" hidden/>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
        <div class="col">
            <a asp-action="Index" class="btn btn-danger form-control">Cancel</a>
        </div>
    </div>
</form>