@model HaT7FptBook.Models.Category
@using HaT7FptBook.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    ViewBag.Title = "Manage Category";
    Layout =  "/Views/Shared/_LayoutStoreOwner.cshtml";
    var title = Model.Id == 0 ? "Create Category" : "Edit Category";
}

<h2 class="text-center">@title</h2>

@if (Model.Id == 0)
{
    <form method="post">
        <partial name="_StatusMessenger" model="@ViewData["Message"]"/>
        <input asp-for="Id" hidden/>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
            <div class="col">
                <a asp-action="Index" class="btn btn-danger form-control">Cancel</a>
            </div>
        </div>
    </form>

    <div class="mt-5">
        <h2>Other options</h2>
        <div class="d-flex mt-2">
            <h6 class="col-2 pl-0 pt-1 mb-0">Upload by Excel file</h6>
            <form asp-controller="Categories" asp-action="UploadExcel" method="post" enctype="multipart/form-data" asp-antiforgery="false">
                <input type="file" name="file"/>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
    </div>
}
else
{
    <form method="post">
        <partial name="_StatusMessenger" model="@ViewData["Message"]"/>
        <input asp-for="Id" hidden/>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
            <div class="col">
                <a asp-action="Index" class="btn btn-danger form-control">Cancel</a>
            </div>
        </div>
    </form>
}

@{
    _AdminSidebarService.SetActive("Categories", "UpSert", "StoreOwner");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}