@using HaT7FptBook.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    Layout =  "/Views/Shared/_LayoutStoreOwner.cshtml";
    ViewData["Title"] = "Help Screen";
}

<!DOCTYPE html>

<html>
<head>
    @* <h1 class="mb-3 text-center">Help Screen</h1> *@
</head>
<body>
<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        The Ultimate Guide for New Store Owners
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item">Action</p>
    </div>
</div>

<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        How to manage your products?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item">Action</p>
    </div>
</div>

<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        How to view all orders of the store?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item">Action</p>
    </div>
</div>

<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        How to manage your store?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item">Action</p>
    </div>
</div>

<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        How to change personal information?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item">
            Click on your email name and you are logged in next to the word Hello
            on the right corner of the website screen to go to your account's personal page.
        </p>

        <p class="dropdown-item">
            In there you can edit information, change email and password.
        </p>

        <p class="dropdown-item">
            After completing the changes, click the save button to save those changes
        </p>
    </div>
</div>
</body>
</html>

@{
    _AdminSidebarService.SetActive("Stores", "Help", "StoreOwner");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}