@model IList<HaT7FptBook.Models.Store>

@{
    ViewBag.Title = "Store";
    Layout = "_Layout";
}

<partial name="_StatusMessenger" model="@ViewData["Message"]"/>
@if (Model.Any())
{
    @foreach (var store in @Model)
    {
        <div>
            <h1 class="text-center font-weight-bold">@store.Name Book Store</h1>
        </div>

        <div>
            <div class="row mb-2">
                <div class="col-3">
                    <h5>View order information</h5>
                    <p>Hiện tại đang có: </p>
                </div>

                <div class="col">
                    <a class="btn btn-info" asp-area="StoreOwner" asp-controller="Orders" asp-action="Index">Order</a>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3">
                    <h5>Manage product list</h5>
                </div>

                <div class="col">
                    <a class="btn btn-info" asp-area="StoreOwner" asp-controller="Products" asp-action="Index">Product</a>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3">
                    <h5>Manage category list</h5>
                </div>

                <div class="col">
                    <a class="btn btn-info" asp-area="StoreOwner" asp-controller="Categories" asp-action="Index">Cateogry</a>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3">
                    <h5>Edit your store information</h5>
                </div>

                <div class="col">
                    <a class="btn btn-info" asp-controller="Stores" asp-action="UpSert" asp-route-id="@store.Id">Edit</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <h3 class="text-center">Create your own store now</h3>
    <div class="text-center">
        <a asp-controller="Stores" asp-action="UpSert" class="btn btn-primary">Create new Store</a>
    </div>
}