@model IList<HaT7FptBook.Models.Store>

@{
    ViewBag.Title = "View all Store";
    Layout = "_Layout";
}

<partial name="_StatusMessenger" model="@ViewData["Message"]"/>
@if (Model.Any())
{
    <h2>List Store</h2>
    <table style="width: 100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>

        @foreach (var store in @Model)
        {
            <tr>
                <td>@store.Name</td>
                <td>
                    <a asp-controller="Stores" asp-action="UpSert" asp-route-id="@store.Id" class="btn btn-info">Edit</a>
                    <a asp-controller="Stores" asp-action="Delete" asp-route-id="@store.Id" class="btn btn-danger" onclick="return confirm('Do you want delete this item?')">Delete</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3 class="text-center">Create your own store now</h3>
    <div class="text-center">
        <a asp-controller="Stores" asp-action="UpSert" class="btn btn-primary">Create new Store</a>
    </div>
}