@{
    ViewBag.Title = "Store";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <h1 class="mb-3 text-center">Help Screen</h1>
</head>
<body>
<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        How to buy books?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item">
            On the home page screen will display a variety of books for you to choose from.
            To purchase the book, follow these steps:
        </p>

        <ul class="list-group">
            <li class="list-group-item pl-5">Step 1: Select the book you want to buy and click view details.</li>
            <li class="list-group-item pl-5">Step 2: Select quantity and click Add to Cart button.</li>
            <li class="list-group-item pl-5">Step 3: Click on the cart icon on the toolbar.</li>
            <li class="list-group-item pl-5">Step 4: In the shopping cart you can optionally adjust the number of books you want to buy.</li>
            <li class="list-group-item pl-5">Step 5: Click the Summary button to review your order information.</li>
            <li class="list-group-item pl-5">Step 6: Enter the address you want to deliver the goods to, you can press the Back to Cart button to return to the shopping cart.</li>
            <li class="list-group-item pl-5">Step 7: Finally, you just need to press the Place Order button to place an order.</li>
        </ul>
    </div>
</div>

<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        How can I view my order history?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item">
            To see the orders you have placed, you need to make a purchase first.
            After making a purchase, the data will be accessed into your account.
        </p>
        <p class="dropdown-item">
            To view your purchased orders, follow these steps:
        </p>

        <ul class="list-group">
            <li class="list-group-item pl-5">Step 1: Go to the profile page of your account.</li>
            <li class="list-group-item pl-5">Step 2: Click the Order History button.</li>
        </ul>

        <p class="dropdown-item">In there you can see the details for each of your orders.</p>
    </div>
</div>

<div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        How to change personal information?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item">
            Click on your email name and you are logged in next to the word Hello
            on the right corner of the website screen to go to your account's personal page.
        </p>

        <p class="dropdown-item">
            In there you can edit information, change email and password.
        </p>

        <p class="dropdown-item">
            After completing the changes, click the save button to save those changes
        </p>
    </div>
</div>
</body>
</html>